.menu-container{
    color: #ffffff;
    background-color: #1d3557;  /* Blue */
    padding: 20px 0;
    display:flex;
    justify-content: center;
   
}
.menu{
    
    display:flex;
    width:900px;
    justify-content: space-between;
}
.links{
    display:flex;
    justify-content: flex-end;
    
      
}
.login{
    margin-left:20px;
    margin-right: 10px;
}

.header-container{
    display:flex;
    justify-content: flex-start;
    background-color: #a8dadc;
    color: #f1faee;
}
.header{
    height:300px;
    width: 900px;
    display:flex;
    justify-content: space-between;
    
}
.photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
   
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
  }
.social,.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: pink;
    height: 200px;
    flex: 1;
  }
  .footer-three {
    flex:2;
    width:300px;
  }
  .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }
















/* .date{
    display: flex;
    align-self: center;
} */